<div class="dialog-container">
    <h1 mat-dialog-title> {{ action }} review</h1>

    <!-- ADMIN WANTS TO ADD -->
    <div mat-dialog-content *ngIf="action === 'Add'">
        <div class="row justify-content-center">
            <!-- <mat-form-field appearance="outline">
                <mat-label>Account id</mat-label>
                <input matInput required [formControl]="accountIdFormControl">
                <mat-error *ngIf="accountIdFormControl.hasError('required')"> Account id is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Location id</mat-label>
                <input matInput required [formControl]="locationIdFormControl">
                <mat-error *ngIf="locationIdFormControl.hasError('required')"> Location id is <strong>required</strong>
                </mat-error>
            </mat-form-field> -->

            <mat-form-field appearance="outline">
                <mat-label>Account</mat-label>
                <mat-select [formControl]="accountIdFormControl">
                    <mat-option *ngFor="let item of accountData" [value]="item.accountId">{{item.userName}}</mat-option>
                </mat-select>
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Location</mat-label>
                <mat-select [formControl]="locationIdFormControl">
                    <mat-option *ngFor="let item of locationData" 
                                            [value]="item.locationId">
                                            {{item.locationName}}
                    </mat-option>
                </mat-select>
                <mat-icon matSuffix>location_on</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Score</mat-label>
                <input matInput type="number" min="0" max="5" required [formControl]="gradeFormControl">
                <mat-error *ngIf="gradeFormControl.hasError('required')"> Score is
                    <strong>required</strong> </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Comment</mat-label>
                <textarea matInput required [formControl]="descriptionFormControl" rows="5"></textarea>
                <mat-error *ngIf="descriptionFormControl.hasError('required')"> Comment is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Date</mat-label>
                <input matInput [formControl]="dateFormControl" [matDatepicker]="makePicker">
                <mat-datepicker-toggle matSuffix [for]="makePicker"></mat-datepicker-toggle>
                <mat-datepicker #makePicker></mat-datepicker>
                <mat-error *ngIf="dateFormControl.hasError('required')"> Date is
                    <strong>required</strong> </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="d-flex" *ngIf="action === 'Add'">
        <button mat-dialog-close class="primary-action-btn action-btn">Cancel</button>
        <button class="primary-action-btn action-btn ms-auto" [disabled]="accountIdFormControl.hasError('required') || 
        locationIdFormControl.hasError('required') || descriptionFormControl.hasError('required') || 
        dateFormControl.hasError('required') || gradeFormControl.hasError('required')"
            (click)="addReview()">
            Add
        </button>
    </div>

    <!-- ADMIN WANTS TO UPDATE -->
    <div mat-dialog-content *ngIf="action === 'Edit'">
        <div class="row justify-content-center">
            <mat-form-field appearance="outline">
                <mat-label>Account id</mat-label>
                <input matInput required [formControl]="accountIdFormControl">
                <mat-error *ngIf="accountIdFormControl.hasError('required')"> Account id is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Location id</mat-label>
                <input matInput required [formControl]="locationIdFormControl">
                <mat-error *ngIf="locationIdFormControl.hasError('required')"> Location id is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Score</mat-label>
                <input matInput required [formControl]="gradeFormControl">
                <mat-error *ngIf="gradeFormControl.hasError('required')"> Score is
                    <strong>required</strong> </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Comment</mat-label>
                <input matInput required [formControl]="descriptionFormControl">
                <mat-error *ngIf="descriptionFormControl.hasError('required')"> Comment is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Date</mat-label>
                <input matInput [formControl]="dateFormControl" [matDatepicker]="makePicker">
                <mat-datepicker-toggle matSuffix [for]="makePicker"></mat-datepicker-toggle>
                <mat-datepicker #makePicker></mat-datepicker>
                <mat-error *ngIf="dateFormControl.hasError('required')"> Date is
                    <strong>required</strong> </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="d-flex" *ngIf="action === 'Edit'">
        <button mat-dialog-close class="primary-action-btn action-btn">Cancel</button>
        <button class="primary-action-btn action-btn ms-auto" [disabled]="accountIdFormControl.hasError('required') || 
        locationIdFormControl.hasError('required') || descriptionFormControl.hasError('required') || gradeFormControl.hasError('required')"
            (click)="updateReview()">
            Update
        </button>
    </div>

    <!-- ADMIN WANTS TO DELETE -->
    <div mat-dialog-content *ngIf="action === 'Delete'" class="mb-3">
        <p> Are you sure you want to delete this review? </p>
        <table>
            <tbody>
                <tr>
                    <td>Account: {{review.accountId}} {{review.reviewEntity?.account!.userName}}</td>
                </tr>
                <tr>
                    <td>Location: {{review.locationId}} {{review.reviewEntity?.location!.locationName}}</td>
                </tr>
                <tr>
                    <td>Score: {{review.grade}}</td>
                </tr>
                <tr>
                    <td>Comment: {{review.description}}</td>
                </tr>
                <tr>
                    <td>Date: {{review.date}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="d-flex" *ngIf="action === 'Delete'">
        <button mat-dialog-close class="primary-action-btn action-btn">Cancel</button>
        <button class="primary-action-btn action-btn ms-auto" (click)="deleteReview()">
            Yes
        </button>
    </div>
</div>