.warining-text {
    color: rgb(192, 42, 42) !important;
}

.delete-btn {
    background-color: transparent !important;
    border: none;
}

.delete-btn:disabled {
    color: gray !important;
}

.field {
    width: 100%;
}