<div class="row d-flex justify-content-center">
    <mat-card class="row col-10 mt-3">
        <div class="d-flex align-items-center">
            <button mat-mini-fab color="primary" class="action-fab-btn" [routerLink]="['/home']">
                <mat-icon> arrow_back </mat-icon>
            </button>
            <span class="float-start title">Locations</span>
            <button mat-mini-fab class="action-fab-btn ms-auto add-btn" (click)="addLocation()">
                <mat-icon> add </mat-icon>
            </button>
            <span>Add new location</span>
        </div>
    </mat-card>
    <mat-card class="table-container col-10 mt-2">
        <div *ngIf="locations.length === 0 && !isLoading" class="text-center mt-5">
            <mat-icon class="no-results-icon">folder_off</mat-icon>
            <p class="text-center title mt-5"> There are no locations to be displayed! </p>
        </div>

        <div *ngIf="isLoading" class="h-100 m-0 p-0 d-flex justify-content-center align-items-center">
            <mat-spinner class="loading-spinner"></mat-spinner>
        </div>

        <table *ngIf="locations.length > 0" class="table text-center primary-text">
            <thead>
                <tr>
                    <th scope="col"> Name </th>
                    <th scope="col"> Address </th>
                    <th scope="col"> Price per hour </th>
                    <th scope="col"> X coordinate </th>
                    <th scope="col"> Y coordinate </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let location of locations" class="align-items-center">
                    <td class="pt-3">
                        {{ location.locationName }}
                    </td>
                    <td class="pt-3">
                        {{ location.address }}
                    </td>
                    <td class="pt-3">
                        {{ location.pricePerHour }}
                    </td>
                    <td class="pt-3">
                        {{ location.locationX }}
                    </td>
                    <td class="pt-3">
                        {{ location.locationY }}
                    </td>
                    <td>
                        <button mat-mini-fab class="action-fab-btn edit-btn" (click)="editLocation(location)">
                            <mat-icon> edit </mat-icon>
                        </button>
                    </td>
                    <td>
                        <button mat-mini-fab class="action-fab-btn add-photo-btn" (click)="addImage(location)">
                            <mat-icon> add_photo_alternate </mat-icon>
                        </button>
                    </td>
                    <td>
                        <button mat-mini-fab class="action-fab-btn delete-btn" (click)="deleteLocation(location)">
                            <mat-icon> delete </mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card>
</div>