<div class="row d-flex justify-content-center">
    <mat-card class="row col-10 mt-3">
        <div class="d-flex align-items-center">
            <button mat-mini-fab color="primary" class="action-fab-btn" [routerLink]="['/home']">
                <mat-icon> arrow_back </mat-icon>
            </button>
            <span class="float-start title">Reviews</span>
            <!-- <button mat-mini-fab class="action-fab-btn ms-auto add-btn" (click)="addReview()">
                <mat-icon> add </mat-icon>
            </button>
            <span>Add new review</span> -->
        </div>
    </mat-card>
    <mat-card class="table-container col-10 mt-2">
        <div *ngIf="reviews.length === 0 && !isLoading" class="text-center mt-5">
            <mat-icon class="no-results-icon">folder_off</mat-icon>
            <p class="text-center title mt-5"> There are no reviews to be displayed! </p>
        </div>

        <!-- <div *ngIf="isLoading" class="h-100 m-0 p-0 d-flex justify-content-center align-items-center">
            <mat-spinner class="loading-spinner"></mat-spinner>
        </div> -->

        <table *ngIf="reviews.length > 0" class="table text-center primary-text">
            <thead>
                <tr>
                    <th scope="col"> Account id </th>
                    <th scope="col"> Location id</th>
                    <th scope="col"> Score </th>
                    <th scope="col"> Comment </th>
                    <th scope="col"> Date </th>
                    <!-- <th></th> -->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let review of reviews" class="align-items-center">
                    <td class="pt-3">
                        {{ review.accountId }}
                    </td>
                    <td class="pt-3">
                        {{ review.locationId }}
                    </td>
                    <td class="pt-3">
                        {{ review.grade }}
                    </td>
                    <td class="pt-3">
                        {{ review.description }}
                    </td>
                    <td class="pt-3">
                        {{ review.date | date : 'dd-MM-yyyy' }}
                    </td>
                    <!-- <td>
                        <button mat-mini-fab class="action-fab-btn edit-btn" (click)="editReview(review)">
                            <mat-icon> edit </mat-icon>
                        </button>
                    </td> -->
                    <td>
                        <button mat-mini-fab class="action-fab-btn delete-btn" (click)="deleteReview(review)">
                            <mat-icon> delete </mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card>
</div>