.app-container {
    overflow-y: hidden;
    overflow-x: hidden;
}

.sidenav-container {
    height: 100%;
}

.fab-button {
    position: fixed;
    bottom: 30px;
    right: 20px;
}

.sidenav {
    width: 150px;
}
