<div class="row d-flex justify-content-center">
    <mat-card class="row col-10 mt-3">
        <div class="d-flex align-items-center">
            <button mat-mini-fab color="primary" class="action-fab-btn" [routerLink]="['/home']">
                <mat-icon> arrow_back </mat-icon>
            </button>
            <span class="float-start title">Accounts</span>
            <button mat-mini-fab class="action-fab-btn ms-auto add-btn" (click)="addAccount()">
                <mat-icon> add </mat-icon>
            </button>
            <span>Add new account</span>
        </div>
    </mat-card>
    <mat-card class="table-container col-10 mt-2">
        <div *ngIf="accounts.length === 0 && !isLoading" class="text-center mt-5">
            <mat-icon class="no-results-icon">folder_off</mat-icon>
            <p class="text-center title mt-5"> There are no accounts to be displayed! </p>
        </div>

        <div *ngIf="isLoading" class="h-100 m-0 p-0 d-flex justify-content-center align-items-center">
            <mat-spinner class="loading-spinner"></mat-spinner>
        </div>

        <table *ngIf="accounts.length > 0" class="table text-center primary-text">
            <thead>
                <tr>
                    <th scope="col"> Username </th>
                    <th scope="col"> Email </th>
                    <th scope="col"> Phone Number </th>
                    <th scope="col"> Role </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let account of accounts" class="align-items-center">
                    <td class="pt-3">
                        {{ account.userName }}
                    </td>
                    <td class="pt-3">
                        {{ account.email }}
                    </td>
                    <td class="pt-3">
                        {{ account.phoneNumber }}
                    </td>
                    <td class="pt-3">
                        {{ account.role === 0 ? 'Admin' : 'User' }}
                    </td>
                    <td>
                        <button mat-mini-fab class="action-fab-btn edit-btn" (click)="editAccount(account)">
                            <mat-icon> edit </mat-icon>
                        </button>
                    </td>
                    <td>
                        <button mat-mini-fab class="action-fab-btn delete-btn" (click)="deleteAccount(account)">
                            <mat-icon> delete </mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card>
</div>