.title {
    font-size: 16px;
    font-weight: 600;
}

.announce {
    font-size: 16px;
    font-weight: 400;
}

.loading-spinner {
    transform: scale(0.6);
}

.table-container {
    height: 525px;
    overflow-y: auto;
}

.action-fab-btn {
    transform: scale(0.7);
}

.no-results-icon {
    transform: scale(2);
}