.profile-icon {
    transform: scale(3);
}

.label {
    font-weight: 550;
}

.profile-card {
    height: fit-content;
}

.action-fab-btn {
    transform: scale(0.7);
}

.location-header {
    height: 70px;
}

.loading-spinner {
    transform: scale(1);
}

.edit-btn {
    width: 5%;
    height: 50%;
    background-color: transparent !important;
    border: none;
}

.discard-btn {
    width: 10.5%;
    height: 50%;
    background-color: transparent !important;
    border: none;
}

.save-btn {
    width: 9.5%;
    height: 50%;
    background-color: transparent !important;
    border: none;
}

.change-password-btn {
    border: none;
    background-color: transparent !important;
    padding: 10px;
    margin-right: 5px;
}

.delete-account-btn {
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.file-input {
    display: none;
}