<div class="row d-flex justify-content-center">
    <mat-card class="row profile-card col-7 mt-3">
        <div class="d-flex justify-content-center mt-3">
            <mat-icon class="profile-icon">account_circle</mat-icon>

            <button *ngIf="userWantsToUpdate" mat-mini-fab class="action-fab-btn add-photo-btn"
                (click)="addProfilePicture()">
                <mat-icon> add_a_photo </mat-icon>
            </button>
        </div>

        <div *ngIf="isLoading" class="h-100 m-0 p-0 d-flex justify-content-center align-items-center mt-5">
            <mat-spinner [diameter]="50" class="loading-spinner"></mat-spinner>
        </div>

        <div *ngIf="!isLoading" class="mt-5">
            <div class="d-flex align-items-center">
                <h1>Account information:</h1>

                <button *ngIf="userWantsToUpdate"
                    class="col-2 pb-2 ms-auto d-flex align-items-center justify-content-center me-3 discard-btn primary-text mb-3 hover-underline-animation"
                    (click)="discardChanges()">
                    <mat-icon class="pe-4 me-1"> cancel </mat-icon>
                    Discard changes
                </button>

                <button *ngIf="!userWantsToUpdate"
                    class="col-1 pb-2 ms-auto d-flex align-items-center justify-content-center edit-btn primary-text mb-3 hover-underline-animation"
                    (click)="userWantsToEdit()">
                    <mat-icon class="me-1"> edit </mat-icon>
                    Edit
                </button>

                <button *ngIf="userWantsToUpdate"
                    class="col-2 pb-2 d-flex align-items-center justify-content-center save-btn primary-text mb-3 hover-underline-animation"
                    (click)="saveChanges()">
                    <mat-icon class="me-1"> save </mat-icon>
                    Save changes
                </button>
            </div>

            <div *ngIf="!userWantsToUpdate">
                <div class="mt-2">
                    <span class="label me-1">Email: </span>
                    <span> {{ account.email }} </span>
                </div>

                <div class="mt-2">
                    <span class="label me-1">Username: </span>
                    <span> {{ account.userName }} </span>
                </div>

                <div class="mt-2">
                    <span class="label me-1">Phone number: </span>
                    <span> {{ account.phoneNumber }} </span>
                </div>
            </div>

            <div *ngIf="userWantsToUpdate">
                <div class="mt-2 col-2 d-flex justify-content-center">
                    <mat-form-field appearance="outline">
                        <mat-label>Add new email</mat-label>
                        <input class="text-center" matInput required [formControl]="emailFormControl">
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please
                            enter a valid email address! </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')"> Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="mt-2 col-2 d-flex justify-content-center">
                    <mat-form-field appearance="outline">
                        <mat-label>Edit username</mat-label>
                        <input class="text-center" matInput required [formControl]="usernameFormControl">
                        <mat-error *ngIf="usernameFormControl.hasError('required')"> Username is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="mt-2 col-2 d-flex justify-content-center">
                    <mat-form-field appearance="outline">
                        <mat-label>Edit phone number</mat-label>
                        <input class="text-center" matInput required [formControl]="phoneNumberFormControl">
                        <mat-error *ngIf="phoneNumberFormControl.hasError('required')"> Phone number is
                            <strong>required</strong> </mat-error>
                    </mat-form-field>
                </div>

                <div class="mt-3 col-2 d-flex justify-content-center">
                    <button class="d-flex align-items-center change-password-btn hover-underline-animation primary-text"
                        (click)="changePassword()">
                        Change your password
                    </button>
                </div>

                <div class="mt-5">
                    <button class="d-flex align-items-center ms-auto delete-account-btn delete-btn"
                        (click)="deleteAccount()">
                        <mat-icon class="me-1"> delete </mat-icon>
                        Delete this account
                    </button>
                </div>
            </div>
        </div>
    </mat-card>

    <mat-card class="locations-container col-7 mt-2 mb-5">
        <mat-accordion *ngIf="!isLoading" class="example-headers-align" multi>
            <mat-expansion-panel class="mb-3">
                <mat-expansion-panel-header class="location-header">
                    <mat-panel-title class="mt-4 mb-4">
                        <mat-icon class="me-2">book_online</mat-icon>
                        My bookings
                    </mat-panel-title>
                    <mat-panel-description>
                        {{ myBookings.length }}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div *ngIf="bookingsAreLoading" class="m-0 p-0 d-flex justify-content-center align-items-center">
                    <mat-spinner [diameter]="40"> Loading bookings data </mat-spinner>
                </div>

                <ng-container *ngIf="!bookingsAreLoading">
                    <div class="row mb-4" *ngFor="let booking of myBookings">
                        <mat-card class="history-card">
                            <div>
                                <span class="me-2">Location:</span> {{ booking.location?.locationName }}
                            </div>

                            <div>
                                <span class="me-2">Location address:</span> {{ booking.location?.address }}
                            </div>

                            <div>
                                <span class="me-2">From:</span> {{ booking.inDate | date : "dd-MM-yyyy" }}
                            </div>

                            <div>
                                <span class="me-2">To:</span> {{ booking.outDate | date : "dd-MM-yyyy" }}
                            </div>

                            <div>
                                <span class="me-2">Total cost:</span> {{ booking.totalPrice }}
                            </div>
                        </mat-card>
                    </div>
                </ng-container>

            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion *ngIf="!isLoading" class="example-headers-align" multi>
            <mat-expansion-panel class="mb-3">
                <mat-expansion-panel-header class="location-header">
                    <mat-panel-title class="mt-4 mb-4">
                        <mat-icon class="me-2">rate_review</mat-icon>
                        My reviews
                    </mat-panel-title>
                    <mat-panel-description>
                        {{ myReviews.length }}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div *ngIf="reviewsAreLoading" class="m-0 p-0 d-flex justify-content-center align-items-center">
                    <mat-spinner [diameter]="40" class="loading-spinner"> Loading reviews data </mat-spinner>
                </div>

                <ng-container *ngIf="!reviewsAreLoading">
                    <div class="row mb-5" *ngFor="let review of myReviews">
                        <mat-card class="history-card">
                            <div>
                                <span class="me-2">Location:</span> {{ review.location?.locationName }}
                            </div>

                            <div>
                                <span class="me-2">Location address:</span> {{ review.location?.address }}
                            </div>

                            <div>
                                <span class="me-2">Comment:</span> {{ review.description }}
                            </div>

                            <div>
                                <span class="me-2">Date:</span> {{ review.date | date : "dd-MM-yyyy" }}
                            </div>

                            <div>
                                <span class="me-2 pt-1">Rate:</span>
                                <app-star-rating [rating]="review.grade!" [readonly]="true"></app-star-rating>
                            </div>
                        </mat-card>
                    </div>
                </ng-container>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>
</div>