.profile-icon {
    transform: scale(3);
}

.label {
    font-weight: 550;
}

.profile-card {
    height: fit-content;
}

.action-fab-btn {
    transform: scale(0.7);
}

.location-header {
    height: 70px;
}

.loading-spinner {
    transform: scale(1);
}