.login-btn {
    width: 300px !important;
}

.register-btn {
    width: 300px !important;
}























.search-input-field {
    width: 280px;
}

.card-item {
    height: 300px;
    width: 250px;
}

.card-item:hover {
    cursor: pointer;
}

.card-icon {
    transform: scale(2);
}

.content {
    height: 180px;
}

.cards-container {
    margin-top: 80px;
}

.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
}

.locations-container {
    height: 83vh;
    overflow-y: auto;
}

.location-header {
    height: 70px;
}

.primary-action-btn {
    width: 100px;
}

.clear-btn {
    width: 5%;
    height: 50%;
    background-color: transparent;
    border: none;
}

.login-btn-guest {
    width: 15%;
    height: 50%;
}

.let-in-as-guest-btn {
    background-color: transparent;
    border: none;
}

.search-label {
    width: 4%;
}

.header-image-card {
    height: 200px;
    width: 250px;
    transition: all ease-in-out .4s;
}

.location-header-image {
    width: 100%;
    height: 100%;
    transition: all ease-in-out .4s;
}

.header-image-card:hover .location-header-image {
    cursor: pointer;
    transform: scale(1);
}

.header-image-card:hover {
    cursor: pointer;
    transform: scale(1.10);
}