

.action-fab-btn {
    transform: scale(0.7);
}

.title {
    font-size: 20px;
    font-weight: 400;
}

.review-card {
    width: 800px;
}

.img-container {
    height: 400px;
}

.reviews-card {
    max-height: 700px;
    overflow-y: auto;
}